In [2]:

import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import joblib

In [4]:
# 타이타닉 데이터 로드 및 전처리
titanic_df = pd.read_csv("titanic_train.csv")

# 나이의 결측치를 평균값으로 대체하기
titanic_df["Age"] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df["Cabin"] = titanic_df['Cabin'].fillna("N")
titanic_df["Embarked"] = titanic_df['Embarked'].fillna("N")

# 레이블 인코딩
def encode_features(dataDF):
    features = ['Sex', 'Embarked']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
    return dataDF

print(titanic_df.head())
titanic_df = encode_features(titanic_df)
print(titanic_df.head())

# 불필요한 feature 제거
drop_names = ["PassengerId", "Name", "Ticket", "Cabin"]
titanic_df = titanic_df.drop(drop_names, axis=1)

# 설명 변수(X)와 타겟 변수(y) 분리
X = titanic_df.drop("Survived", axis=1)
y = titanic_df["Survived"]

# 학습 데이터와 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=11)
model = RandomForestClassifier(random_state=11)
model.fit(X_train, y_train)

joblib.dump(model, "titanic_model.pkl")

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     N        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     N        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     N        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Cabin  Embarked
0         A/5 21171   7.2500     N         3
1          PC 17599  71.2833   C85         0
2  STON/O2. 3101282   7.9250     N         3
3            113803  53.1000  C123         3
4            373450   8.0500     N         3

['titanic_model.pkl']