### 1. 아이템(콘텐츠) 속성 분석

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

data = {
    "아이템": ["기생충", "부산행", "태극기", "도둑들", "설국열차", "범죄도시", "쇼생크"],
    "설명": [
        "가난한 가족이 부잣집 집에 몰래 들어가서 기생하는 스토리",
        "좀비 바이러스가 터진 세상에서 부산에 가는 열차 이야기",
        "전쟁에서 싸우는 형제의 이야기",
        "사기를 치고 도둑질하는 도둑들의 이야기",
        "꼬리칸에서 일등칸으로 가는 이야기",
        "조선족 참교육 이야기",
        "15년간 갇혀있던 감옥을 탈출하는 이야기"
    ]
}

df = pd.DataFrame(data)
df

    아이템                               설명
0   기생충  가난한 가족이 부잣집 집에 몰래 들어가서 기생하는 스토리
1   부산행   좀비 바이러스가 터진 세상에서 부산에 가는 열차 이야기
2   태극기                 전쟁에서 싸우는 형제의 이야기
3   도둑들            사기를 치고 도둑질하는 도둑들의 이야기
4  설국열차               꼬리칸에서 일등칸으로 가는 이야기
5  범죄도시                      조선족 참교육 이야기
6   쇼생크           15년간 갇혀있던 감옥을 탈출하는 이야기

In [18]:
import numpy as np
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df['설명'])
print(pd.DataFrame(tfidf_matrix.toarray()).loc[:, :25])

# 코사인 유사도 계산해보기
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_df = pd.DataFrame(cosine_sim, index=df["아이템"], columns=df["아이템"])
cosine_df

         0         1         2         3         4         5         6   \
0  0.000000  0.353553  0.000000  0.353553  0.000000  0.000000  0.353553
1  0.000000  0.000000  0.315673  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4  0.000000  0.000000  0.486214  0.000000  0.000000  0.000000  0.000000
5  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
6  0.486467  0.000000  0.000000  0.000000  0.486467  0.486467  0.000000

         7         8         9   ...        16        17        18        19  \
0  0.000000  0.000000  0.000000  ...  0.000000  0.353553  0.000000  0.000000
1  0.000000  0.000000  0.000000  ...  0.380289  0.000000  0.000000  0.380289
2  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.556791  0.000000
3  0.000000  0.486467  0.486467  ...  0.000000  0.000000  0.000000  0.000000
4  0.585739  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
5  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
6  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000

         20        21        22        23        24        25
0  0.000000  0.000000  0.000000  0.000000  0.000000  0.353553
1  0.180644  0.000000  0.000000  0.000000  0.380289  0.000000
2  0.264485  0.000000  0.556791  0.000000  0.000000  0.000000
3  0.231080  0.000000  0.000000  0.000000  0.000000  0.000000
4  0.278236  0.585739  0.000000  0.000000  0.000000  0.000000
5  0.318407  0.000000  0.000000  0.670305  0.000000  0.000000
6  0.231080  0.000000  0.000000  0.000000  0.000000  0.000000

[7 rows x 26 columns]

아이템   기생충       부산행       태극기       도둑들      설국열차      범죄도시       쇼생크
아이템
기생충   1.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
부산행   0.0  1.000000  0.047778  0.041743  0.203746  0.057518  0.041743
태극기   0.0  0.047778  1.000000  0.061117  0.073589  0.084214  0.061117
도둑들   0.0  0.041743  0.061117  1.000000  0.064295  0.073578  0.053398
설국열차  0.0  0.203746  0.073589  0.064295  1.000000  0.088592  0.064295
범죄도시  0.0  0.057518  0.084214  0.073578  0.088592  1.000000  0.073578
쇼생크   0.0  0.041743  0.061117  0.053398  0.064295  0.073578  1.000000

In [19]:
df['장르'] = np.array([1, 2, 3, 4, 5, 2, 6])
df

    아이템                               설명  장르
0   기생충  가난한 가족이 부잣집 집에 몰래 들어가서 기생하는 스토리   1
1   부산행   좀비 바이러스가 터진 세상에서 부산에 가는 열차 이야기   2
2   태극기                 전쟁에서 싸우는 형제의 이야기   3
3   도둑들            사기를 치고 도둑질하는 도둑들의 이야기   4
4  설국열차               꼬리칸에서 일등칸으로 가는 이야기   5
5  범죄도시                      조선족 참교육 이야기   2
6   쇼생크           15년간 갇혀있던 감옥을 탈출하는 이야기   6